* {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

body {
    background-image: url('/imagens/background_rec.jpg');
    background-size: cover;
    background-position: center;
    font-family: Arial, Helvetica, sans-serif;
    background-attachment: fixed;
}

main {
    background-color: white;
    width: 400px;
    height: 250px;
    margin: auto;
    margin-top: 50px;
    border-radius: 20px;
    box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.267);
}

h3 {
    text-align: center;
    padding: 30px 0px 0px 0px;
}

input {
    display: block;
    margin: auto;
    margin-top: 25px;
    outline: none;
    font-weight: bold;
    border-radius: 50px;
    padding: 5px;
    border: 2px solid gray;
    transition: 0.1s;
}
input:hover {
    background-color: rgb(248, 248, 248);
}

button {
    display: block;
    margin: auto;
    border-radius: 50px;
    width: 70px;
    padding: 5px;
    border: none;
    background-color: rgb(166, 243, 166);
    font-weight: bold;
    cursor: pointer;
    transition: 0.1s;
}
button:hover {
    background-color: rgb(127, 212, 127);
}

p {
    text-align: center;
    margin-top: 30px;
}