* {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

body {
    background-image: url('/imagens/background2.jpg');
    background-size: cover;
    background-position: center;
    font-family: Arial, Helvetica, sans-serif;
    background-attachment: fixed;
}

main {
    background-color: white;
    width: 300px;
    height: 300px;
    margin: auto;
    margin-top: 110px;
    border-radius: 15px;
    box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.212);
}
h3 {
    text-align: center;
}
.loginh3 {
    padding-top: 50px;
}
.cadastroh3 {
    padding-top: 50px;
}

a {
    display: block;
    background-color: rgb(90, 90, 90);
    color: white;
    margin: auto;
    margin-top: 20px;
    width: 100px;
    text-align: center;
    padding: 7px;
    border-radius: 50px;
    transition: 0.1s;
}
a:hover {
    background-color: rgb(75, 75, 75);
}